@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@page "/todos"

<h3 class="text-center mb-3">Todos</h3>

@code {

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

}